.toggle {
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
  font-size: 1rem; }

.toggle-visible {
  padding: 1rem 3.5rem 1rem 1rem;
  background-color: #333;
  color: #FFF;
  cursor: pointer;
  position: relative;
  user-select: none; }
  .toggle-visible .title {
    font-weight: bold;
    font-size: 120%; }
  .toggle-visible .intro {
    opacity: 0.7;
    margin-top: 0.4rem; }
  .toggle-visible:before {
    font-family: 'iconCI';
    content: '5';
    display: block;
    line-height: 1;
    padding: 0.5rem;
    background-color: #666;
    border-radius: 50%;
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: -1rem; }

.toggle-hidden {
  background-color: #FFF;
  line-height: 1.6;
  display: none;
  padding: 1rem; }
  .toggle-hidden p:not(:last-child) {
    margin-bottom: 1rem; }
  .toggle-hidden a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px dotted; }
    .toggle-hidden a:hover {
      color: #FF7D24;
      border-color: #FF7D24; }

.toggle.active .toggle-visible:before {
  transform: rotate(180deg); }

.toggle.active .toggle-hidden {
  display: block; }

.page-node .toggle {
  box-shadow: none; }

.page-node .toggle-visible {
  background-color: #EEE;
  color: #000; }
  .page-node .toggle-visible:before {
    background-color: #CCC; }

.page-node .toggle-hidden {
  border: 1px solid #EEE; }
