/*@font-face {
	font-family: 'Platform';
	src: url('fonts/platform-light.woff2') format('woff2'), url('fonts/platform-light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Platform';
	src: url('fonts/platform-medium.woff2') format('woff2'), url('fonts/platform-medium.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Nyte';
	src: url('fonts/nyte-book.woff2') format('woff2'), url('fonts/nyte-book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}*/
@font-face {
	font-family: 'Roboto';
	src: url('fonts/roboto-light.woff2') format('woff2'), url('fonts/roboto-light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('fonts/roboto-bold.woff2') format('woff2'), url('fonts/roboto-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'iconCI';
	src: url('fonts/iconci.woff2') format('woff2'), url('fonts/iconci.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}